
--Base de Datos: 

--Creé de forma segura la tabla puente (JornadaUsuarios) directamente usando comandos SQL 
--y agregué la sintaxis al script SistemaVacunacion.sql para que quede en el historial. Actualicé los modelos
--del backend y reconfiguré EF Core para que entienda esta nueva estructura.

--Backend: 

--Reinicié el servidor y actualicé la lógica de la API (JornadasController)
--para que reciba, guarde y retorne correctamente a las personas de la jornada.

--Frontend: 

--En la vista de jornadas, ahora tendrás un bloque llamado "Personal Implicado" 
--al momento de registrar. Tiene una lista de casillas de verificación (checkboxes) con los 
--nombres de todo el personal registrado, y un botón "Seleccionar todos" para agilizar el trabajo. 
--La tabla principal de jornadas también fue ampliada para mostrar a los participantes.



CREATE TABLE [dbo].[JornadaUsuarios] ( [ImplicadosIdUsuario] int NOT NULL, [JornadasIdJornada] int NOT NULL, CONSTRAINT [PK_JornadaUsuarios] PRIMARY KEY ([ImplicadosIdUsuario], [JornadasIdJornada]), CONSTRAINT [FK_JornadaUsuarios_Usuarios_ImplicadosIdUsuario] FOREIGN KEY ([ImplicadosIdUsuario]) REFERENCES [dbo].[Usuarios] ([IdUsuario]) ON DELETE CASCADE, CONSTRAINT [FK_JornadaUsuarios_Jornadas_JornadasIdJornada] FOREIGN KEY ([JornadasIdJornada]) REFERENCES [dbo].[Jornadas] ([IdJornada]) ON DELETE CASCADE );




